<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      label {
        display: flex;
      }
    </style>
  </head>
  <body>
    <h1>SignUp From</h1>

    <div>
      <form method="POST" action="/user">
        <label>Full Name: </label>
        <input type="text" name="userName" placeholder="Username" required />
        <label>Email: </label>
        <input type="email" name="email" placeholder="Email" required />
        <label for="">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />

        <button type="submit">SignUp</button>
      </form>
    </div>
  </body>
</html>
